<p>You are a type of <%= user_description %></p>

<br />
<br />
<br />
<br />

<% if user_signed_in? %>
  <p><%= link_to "User sign out", destroy_user_session_path %></p>
<% else %>
  <p><%= link_to "User sign up", new_user_registration_path %></p>
  <p><%= link_to "User sign in", new_user_session_path %></p>
<% end %>

<% if punter_signed_in? %>
  <p><%= link_to "Punter sign out", destroy_punter_session_path %></p>
<% else %>
  <p><%= link_to "Punter sign up", new_punter_registration_path %></p>
  <p><%= link_to "Punter sign in", new_punter_session_path %></p>
<% end %>
